if (user) { %>
    <form id="add-guest-form" method="POST" action="/events/<%= event._id %>/reviews">
      <label>Guest:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="Add Guest">
    </form>
    <% } %>