<%- include('../partials/header') %>

    <h2>Add Event</h2>
    <form action="/events" method="POST">
        <label>Name:
            <input type="text" name="name">
        </label><br>
        <label>Date:
            <input type="date" name="date">
        </label><br>
        <label>Location: 
            <select name="location">
                <option value="Roux">Roux</option>
                <option value="Little Alley">Little Alley</option>
                <option value="Cherried Marys">Cherried Marys</option>
                <option value="1920 Tavern">1920 Tavern</option>
                <option value="Kimball Hall">Kimball Hall</option>
            </select>
        </label><br>
        <label>Details:
            <textarea rows="2" cols="20" name="details">
  </label><br>
  
  <button type="submit">Add Event</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>