<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mongoose Events</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <a href="/">Home</a>
    &nbsp;|&nbsp;
    <a href="/events/new">New Event</a>
    &nbsp;|&nbsp;
    <a href="/events">All Events</a>
    <% if (user) { %>
      <a class="nav-link" href="/logout">Log Out</a>
      <a class="nav-link" href="/events">Events</a>
  <% } else { %>
      <a class="nav-link" href="/auth/google">Log In</a>
  <% } %>
  </nav>
  
