<%- include('../partials/header') %>

<div>Invite Your Friends</div>
<section id="badge-container">
  <% guests.forEach(function(g) { %>
    <article class="badge"><%= g.name %></article>
  <% }) %>
</section>

<form id="add-guest-form" action="/guests" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Guest">
</form>

<%- include('../partials/footer') %>
